<!DOCTYPE html>
<html style="font-size: inherit">
  <head>
     <meta charset="utf-8" />

      <!-- Google fonts-->
      <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
      <!-- Core theme CSS (includes Bootstrap)-->
      <script src="https://kit.fontawesome.com/2e4cd61b32.js" crossorigin="anonymous"></script>
    <title>EPSO Attendance List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <!-- Warning !! ensure that "stylesheet_pack_tag" is used, line below -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<body>
<div>
<%= form_with(model: member) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
        <% member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="form-group">
    <%= form.label :points %>
    <%= form.number_field :points %>
  </div>

  <div class="form-group">
    <%= form.label :degree %>
    <%= form.select :degree, [['Masters (traditional)'],['Masters (online)'],['PhD']], include_blank: true %>
  </div>

  <div class="form-group">
    <%= form.label :division %>
    <%= form.select :division, [['Learning Sciences'],['Counseling Psychology'],['Special Education'],['Research, Measurement and Statistics'],['Bilingual Education']], include_blank: true %>
  </div>

  <div class="actions">
  <%= form.submit :class =>'btn btn-outline-success'%>
  </div>
<% end %>

</div>
</body>
</html>